---
import GalleryItem from '../GalleryItem.astro'

import anichka from '../../assets/gallery/pencil/anichka.webp'
import arta from '../../assets/gallery/pencil/arta.webp'
import autoportrait from '../../assets/gallery/pencil/autoportrait.webp'
import babushka_1 from '../../assets/gallery/pencil/babushka_1.webp'
import babushka_2 from '../../assets/gallery/pencil/babushka_2.webp'
import babushka_3 from '../../assets/gallery/pencil/babushka_3.webp'
import basset_3 from '../../assets/gallery/pencil/basset_3.webp'
import bird_and_boot from '../../assets/gallery/pencil/bird_and_boot.webp'
import boy_sucking_finger from '../../assets/gallery/pencil/boy_sucking_finger.webp'
import bull_herd from '../../assets/gallery/pencil/bull_herd.webp'
import cat_and_boot from '../../assets/gallery/pencil/cat_and_boot.webp'
import charlie from '../../assets/gallery/pencil/charlie.webp'
import checkers_match_2 from '../../assets/gallery/pencil/checkers_match_2.webp'
import checkers_match_3 from '../../assets/gallery/pencil/checkers_match_3.webp'
import checkers_match_pencil from '../../assets/gallery/pencil/checkers_match_pencil.webp'
import courtyard from '../../assets/gallery/pencil/courtyard.webp'
import cow_from_behind from '../../assets/gallery/pencil/cow_from_behind.webp'
import cow_herd from '../../assets/gallery/pencil/cow_herd.webp'
import einstein_1 from '../../assets/gallery/pencil/einstein_1.webp'
import einstein_2 from '../../assets/gallery/pencil/einstein_2.webp'
import einstein_3 from '../../assets/gallery/pencil/einstein_3.webp'
import einstein_4 from '../../assets/gallery/pencil/einstein_4.webp'
import farmers_market from '../../assets/gallery/pencil/farmers_market.webp'
import frog_pair from '../../assets/gallery/pencil/frog_pair.webp'
import gateway from '../../assets/gallery/pencil/gateway.webp'
import girl_and_cats from '../../assets/gallery/pencil/girl_and_cats.webp'
import girl_with_mastiff from '../../assets/gallery/pencil/girl_with_mastiff.webp'
import grandma_reading from '../../assets/gallery/pencil/grandma_reading.webp'
import handrail_2 from '../../assets/gallery/pencil/handrail_2.webp'
import handrail from '../../assets/gallery/pencil/handrail.webp'
import holding_history from '../../assets/gallery/pencil/holding_history.webp'
import horse_and_wood_fence from '../../assets/gallery/pencil/horse_and_wood_fence.webp'
import horse from '../../assets/gallery/pencil/horse.webp'
import kettles from '../../assets/gallery/pencil/kettles.webp'
import little_girl_2 from '../../assets/gallery/pencil/little_girl_2.webp'
import little_girl from '../../assets/gallery/pencil/little_girl.webp'
import old_city_lublin from '../../assets/gallery/pencil/old_city_lublin.webp'
import old_lady from '../../assets/gallery/pencil/old_lady.webp'
import old_man_with_pipe from '../../assets/gallery/pencil/old_man_with_pipe.webp'
import oshka from '../../assets/gallery/pencil/oshka.webp'
import ostrich from '../../assets/gallery/pencil/ostrich.webp'
import pekingese from '../../assets/gallery/pencil/pekingese.webp'
import pewter_2 from '../../assets/gallery/pencil/pewter_2.webp'
import pewter from '../../assets/gallery/pencil/pewter.webp'
import playing from '../../assets/gallery/pencil/playing.webp'
import rooster_and_books from '../../assets/gallery/pencil/rooster_and_books.webp'
import running_of_the_bulls from '../../assets/gallery/pencil/running_of_the_bulls.webp'
import skyview from '../../assets/gallery/pencil/skyview.webp'
import stairway_2 from '../../assets/gallery/pencil/stairway_2.webp'
import stairway_uoft from '../../assets/gallery/pencil/stairway_uoft.webp'
import stairway from '../../assets/gallery/pencil/stairway.webp'
import sunflowers from '../../assets/gallery/pencil/sunflowers.webp'
import teatime from '../../assets/gallery/pencil/teatime.webp'
import three_crouched_children from '../../assets/gallery/pencil/three_crouched_children.webp'
import tree_and_bench_2 from '../../assets/gallery/pencil/tree_and_bench_2.webp'
import tree_and_bench from '../../assets/gallery/pencil/tree_and_bench.webp'
import white_persian from '../../assets/gallery/pencil/white_persian.webp'
import window_uoft from '../../assets/gallery/pencil/window_uoft.webp'
import woman_amid_pewtery from '../../assets/gallery/pencil/woman_amid_pewtery.webp'
---

<!-- Pencil -->
<hr class="w-full border-2" />
<section id="pencil" class="translate-y-4 pt-20 opacity-0 transition-all duration-500">
	<h1 class="section__title mb-10 text-center text-4xl font-semibold lg:text-5xl">Pencil</h1>
	<div class="custom-grid grid grid-cols-1 gap-1 md:grid-cols-24">
		<GalleryItem src={anichka} alt="Anichka" class="md:col-span-6 md:row-span-4" />
		<GalleryItem src={arta} alt="Arta" class="md:col-span-6 md:row-span-4" />
		<GalleryItem src={babushka_1} alt="Babushka 1" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={babushka_2} alt="Babushka 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={babushka_3} alt="Babushka 3" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={autoportrait} alt="Autoportrait" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={basset_3} alt="Basset 3" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={bird_and_boot} alt="Bird and Boot" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={boy_sucking_finger} alt="Boy Sucking Finger" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={bull_herd} alt="Bull Herd" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={cat_and_boot} alt="Cat and Boot" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={charlie} alt="Charlie" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={checkers_match_2} alt="Checkers Match 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={checkers_match_3} alt="Checkers Match 3" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={checkers_match_pencil} alt="Checkers Match Pencil" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={courtyard} alt="Courtyard" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={cow_from_behind} alt="Cow from Behind" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={cow_herd} alt="Cow Herd" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={einstein_1} alt="Einstein 1" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={einstein_2} alt="Einstein 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={einstein_3} alt="Einstein 3" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={einstein_4} alt="Einstein 4" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={farmers_market} alt="Farmers Market" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={frog_pair} alt="Frog Pair" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={gateway} alt="Gateway" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={girl_and_cats} alt="Girl and Cats" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={girl_with_mastiff} alt="Girl with Mastiff" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={grandma_reading} alt="Grandma Reading" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={handrail_2} alt="Handrail 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={handrail} alt="Handrail" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={holding_history} alt="Holding History" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={horse_and_wood_fence} alt="Horse and Wood Fence" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={horse} alt="Horse" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={kettles} alt="Kettles" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={little_girl_2} alt="Little Girl 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={little_girl} alt="Little Girl" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={old_city_lublin} alt="Old City Lublin" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={old_lady} alt="Old Lady" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={old_man_with_pipe} alt="Old Man with Pipe" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={oshka} alt="Oshka" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={ostrich} alt="Ostrich" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={pekingese} alt="Pekingese" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={pewter_2} alt="Pewter 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={pewter} alt="Pewter" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={playing} alt="Playing" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={rooster_and_books} alt="Rooster and Books" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={running_of_the_bulls} alt="Running of the Bulls" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={skyview} alt="Skyview" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={stairway_2} alt="Stairway 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={stairway_uoft} alt="Stairway Uoft" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={stairway} alt="Stairway" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={sunflowers} alt="Sunflowers" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={teatime} alt="Teatime" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={three_crouched_children} alt="Three Crouched Children" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={tree_and_bench_2} alt="Tree and Bench 2" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={tree_and_bench} alt="Tree and Bench" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={white_persian} alt="White Persian" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={window_uoft} alt="Window Uoft" class="md:col-span-4 md:row-span-4" />
		<GalleryItem src={woman_amid_pewtery} alt="Woman Amid Pewtery" class="md:col-span-4 md:row-span-4" />
	</div>
</section>

<style>
	@media screen and (min-width: 768px) {
		.custom-grid {
			grid-template-columns: repeat(24, 1fr);
			grid-template-rows: repeat(50, 1fr);
		}
	}
</style>
